.footer {
  width: 880px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
  padding: 67px 0 60px 0;
}

@media screen and (max-width: 940px) {
  .footer {
    width: 600px;
    font-size: 16px;
    line-height: 20px;
  }
}

@media screen and (max-width: 630px) {
  .footer {
    width: 282px;
    font-size: 14px;
    line-height: 17px;
  }
}
