.header {
  width: 880px;
  margin: 0 auto;
  padding: 45px 0 41px 0;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

.header__image {
  width: 173px;
  margin-left: 21px;
}

@media screen and (max-width: 940px) {
  .header {
    width: 600px;
  }
}

@media screen and (max-width: 620px) {
  .header {
    width: 320px;
    padding: 45px 0 28px 0;
  }

  .header__image {
    width: 126px;
  }
}
